<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Match Statistics</title>
</head>
<header>
    <nav>
        <div class="nav-items">
            <ul>
                <li><a href="/live">Live Matches</a></li>
                <li><a href="/teamstat">Search Team Match History</a></li>
            </ul>
        </div>
    </nav>
</header>


</html>